*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.para , .blue, .blue1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
} 


.name{
    width: 180px;
    height: 35px;
    margin-right: 10px;
    font-size: medium;
}


.pwd{
    margin-right: 10px;
    width: 170px;
    height: 35px;
    font-size: medium;
}


.email{
    width: 372px;
    height: 35px;
    font-size: medium;
    margin-bottom: 10px;
}


.blue{
    color: #4263f5;
    font-weight: bold;
    font-size: medium;
}

 
.container{
    margin-top: 70px;
}


.blue1{
    color: #4263f5;
    font-weight: 600;
    font-size: medium;
}


.fa-eye-slash{
    font-size: 25px;
    color: grey;
}


.img{
    margin-top: 70px;
}


.para{
    font-size: small;
    margin-top: 13px;
}


::placeholder{
    padding-left: 10px;
}


.btn_para{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.btn{
    padding: 8px 30px !important;
    font-weight: bold;
    margin-right: 150px;
}


@media screen and ( max-width : 800px) {
    .name , .pwd{
        margin-bottom: 5px;
    }

    .btn{
        height: 50px;
        width: 120px !important;
        margin-left: 10px;
    }
}


@media screen and ( max-width : 600px){
    .row{
        display: flex !important;
        flex-direction: column !important;
    }

    .btn{
        margin-left: 20px;
    }
}